@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<MyCloud.Models.User>
 
<h2>Список пользователей</h2>
<table class="table">
     <tr><th>Имя</th><th>Почта</th><th>Пароль</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Mail</td>
            <td>@item.Password</td>
        </tr>
    }
</table>
